<section class="container register-form">

	<h3 th:text="${title}"></h3>
	<form th:action="@{/form}" th:object=${user} method="post">


		<input type="hidden" th:field="*{hiddenValue}" th:value=${hiddenValue} />

		<div class="form-group row mb-3">
			<div class="checkbox-field form-check">
				<input class="form-check-input" type="checkbox" th:field="*{active}"
					th:value=${active} /> <label class="form-check-label">Active
					User</label>
			</div>
		</div>

		<div class="form-group input-group row mb-3">
			<label class="input-group-text">Gender</label>
			<div class="radiobutton-field form-check col-sm-1"
				th:each="g: ${gender}">
				<input class="form-check-input" type="radio" th:field="*{gender}"
					th:value=${g} /> <label class="form-check-label" th:text=${g}
					th:for="${#ids.prev('gender')}"></label>
			</div>
			<div class="row alert alert-danger"
				th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
		</div>

		<div class="form-group input-group row mb-3">
			<label class="input-group-text" for="name">Name</label> <input
				class="form-control" type="text" id="name" th:field=*{name} />
			<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
				class="row alert alert-danger"></div>
		</div>

		<div class="form-group input-group row mb-3">
			<label class="input-group-text" for="surname">Surname</label> <input
				class="form-control" type="text" id="surname" th:field=*{surname} />
			<div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
				class="row alert alert-danger"></div>
		</div>

		<div class="form-group input-group row mb-3">
			<label class="input-group-text" for="username">Username</label> <input
				class="form-control" type="text" id="username" th:field=*{username} />
			<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
				class="row alert alert-danger"></div>
		</div>

		<div class="form-group input-group row mb-3">
			<label class="input-group-text" for="password">Password</label> <input
				class="form-control" type="password" id="password"
				th:field=*{password} />
			<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
				class="row alert alert-danger"></div>
		</div>

		<div class="form-group input-group row mb-3">
			<label class="input-group-text" for="email">Email</label> <input
				class="form-control" type="email" id="email" th:field=*{email} />
			<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
				class="row alert alert-danger"></div>
		</div>

		<div class="form-group input-group row mb-3">
			<label class="input-group-text" for="count">CountNr.</label> <input
				class="form-control" type="number" id="count" th:field=*{count} />
			<div th:if="${#fields.hasErrors('count')}" th:errors="*{count}"
				class="row alert alert-danger"></div>
		</div>

		<div class="form-group input-group row mb-3">
			<label class="input-group-text" for="birthdayDate">Date of
				Birthday</label> <input class="form-control" type="date" id="birthdayDate"
				th:field=*{birthdayDate} />
			<div th:if="${#fields.hasErrors('birthdayDate')}"
				th:errors="*{birthdayDate}" class="row alert alert-danger"></div>
		</div>

		<div class="form-group input-group row mb-3">
			<label class="input-group-text" for="country">Country</label> <select
				class="form-select" id="country" th:field=*{country}>
				<option value="">--Select Country--</option>
				<option th:each="country: ${countries}" th:text=${country.name}
					th:value=${country.id}></option>
			</select>
			<div th:if="${#fields.hasErrors('country')}" th:errors="*{country}"
				class="row alert alert-danger"></div>
		</div>

		<div class="form-group input-group row mb-3">
			<label class="input-group-text">Select user Roles</label>
			<div class="checkbox-field form-check" th:each="role: ${roles}">
				<input class="form-check-input" type="checkbox" th:field="*{roles}"
					th:value=${role.id} /> <label class="form-check-label"
					th:for="${#ids.prev('roles')}" th:text=${role.name}
					th:checked="${#lists.contains(user.roles, role)}"></label>
			</div>
			<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"
				class="row alert alert-danger"></div>
		</div>

		<div class="form-group">
			<input class="btn btn-primary" type="submit" value="Enviar" />
		</div>
	</form>
</section>