<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>

<h3 th:text="${title}"></h3>
<form th:action="@{/form}" th:object=${user} method="post">


	<input type="hidden" th:field="*{hiddenValue}" th:value=${hiddenValue} />

	<div class="form-group">
		<div class="checkbox-field">
			<input type="checkbox" th:field="*{active}" th:value=${active} /> <label>Active
				User</label>
		</div>
	</div>

	<div class="form-group">
		<div class="radiobutton-field" th:each="g: ${gender}">
			<input type="radio" th:field="*{gender}" th:value=${g} /> <label
				th:text=${g} th:for="${#ids.prev('gender')}"></label>
		</div>
		<div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"
			style="color: red"></div>
	</div>

	<div class="form-group">
		<label for="name">Name</label> <br /> <input type="text" id="name"
			th:field=*{name} />
		<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
			style="color: red"></div>
	</div>

	<div class="form-group">
		<label for="username">Surname</label> <br /> <input type="text"
			id="surname" th:field=*{surname} />
		<div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
			style="color: red"></div>
	</div>

	<div class="form-group">
		<label for="username">Username</label> <br /> <input type="text"
			id="username" th:field=*{username} />
		<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
			style="color: red"></div>
	</div>

	<div class="form-group">
		<label for="password">Password</label> <br /> <input type="password"
			id="password" th:field=*{password} />
		<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
			style="color: red"></div>
	</div>

	<div class="form-group">
		<label for="email">Email</label> <br /> <input type="email"
			id="email" th:field=*{email} />
		<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
			style="color: red"></div>
	</div>

	<div class="form-group">
		<label for="count">CountNr.</label> <br /> <input type="number"
			id="count" th:field=*{count} />
		<div th:if="${#fields.hasErrors('count')}" th:errors="*{count}"
			style="color: red"></div>
	</div>

	<div class="form-group">
		<label for="birthdayDate">Date of Birthday</label> <br /> <input
			type="date" id="birthdayDate" th:field=*{birthdayDate} />
		<div th:if="${#fields.hasErrors('birthdayDate')}"
			th:errors="*{birthdayDate}" style="color: red"></div>
	</div>

	<div class="form-group">
		<label for="country">Country</label> <br /> <select id="country"
			th:field=*{country}>
			<option value="">--Select Country--</option>
			<option th:each="country: ${countries}" th:text=${country.name}
				th:value=${country.id}></option>
		</select>
		<div th:if="${#fields.hasErrors('country')}" th:errors="*{country}"
			style="color: red"></div>
	</div>

	<div class="form-group">
		<h3>Select user Roles:</h3>
		<div class="checkbox-field" th:each="role: ${roles}">
			<input type="checkbox" th:field="*{roles}" th:value=${role.id} /> <label
				th:for="${#ids.prev('roles')}" th:text=${role.name}
				th:checked="${#lists.contains(user.roles, role)}"></label>
		</div>
		<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"
			style="color: red"></div>
	</div>

	<div class="form-group">
		<input type="submit" value="Enviar" />
	</div>
</form>
</html>